<h1>Orders#index</h1>



<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Complete?</th>
      <th>Services</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
		<% if @orders.blank? %>
			<h2>Nothing to show here</h2>
		<% else %>
			<% @orders.each do |order| %>
				<tr>
					<td><%= order.ordername %></td>
					<td><%= order.ordernumber %></td>
					<td><%= order.complete %></td>
					<td><%= order.servicelist %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
